@mixin inputReset {
  border: none;
  outline: none;
}

@mixin buttonReset {
  border: none;
}

@mixin resetScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;  
  &::-webkit-scrollbar {
    display: none;
  }
}