/* Colors */
$main-bg-color: #2c3e50;
$browser-bg-color: #fafafa;
$text-input-bg-color: #E4E8F0;
$gray: #c7c7c7;
$green: #54ca8b;

/* Text Colors */
$text-black: #000000;
$text-white: #ffffff;
$text-dark: #575757;

/* Fonts */
$font-primary: 'Lato', sans-serif;

/* Font Weights */
$text-light: 300;
$text-medium: 400;
$text-bold: 700;