/* Colors */
$main-bg-color: #2c3e50;

/* Text Colors */
$text-black: #000000;
$text-white: #ffffff;

/* Fonts */
$font-primary: 'Lato', sans-serif;

/* Font Weights */
$text-light: 300;
$text-medium: 400;
$text-bold: 700;